
/* 요소이름을 선택하여 스타일을 적용 */
h1{font: green;}
p{color:blueviolet;}

/* 아이디가 p1 인 요소를 선택하여 스타일을 적용 ~ 아이디를 찾을때는 # */
p{color: red;}

/* 클래스명이 aa인 요소들을 선택하여 스타일을 적용 ~ 클래스를 찾을때는 . */
.aa{font-style: italic}

/* 이미지의 너비를 작게 조절 (높이는 이미지의 비율에 맞게  조절됨) */
img{width: 300px; display: block; margin-bottom: 20px;}



